[submodule "external/OnionKit"]
	path = external/OnionKit
	url = https://github.com/scalio/NetCipher.git

[submodule "external/securereaderlibrary"]
	path = external/securereaderlibrary
	url = https://github.com/scalio/securereaderlibrary.git
